@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author: Gabriel Hernandez
   Date: 11/28/18       
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/



/* Hidden Objects */
/* When the page is going to be printed it is not necessary fir certain element to appear in the printed page so they will not appear. */
nav,
footer, 
article {
    display: none;
}


/* Comic Book Sheet Styles */

/* These change the thenmargins and widths so that when the pages are printed its neater and apealling. */
section#sheet {
    width: 6in;
    margin: 0in auto 0in auto;
}

img.size1 {
    width: 5in;
}

img.size2 {
    width: 3in;  
}

img.size3 {
    width: 2in;  
}

img.size4 {
    width: 1.5in;  
}